:root {
  --md-primary-fg-color: #8FB9FF;
  --md-accent-fg-color: #7A7CFF;

  --md-default-bg-color: #0B0F14;
  --md-default-fg-color: #E6EDF3;

  --md-code-bg-color: #111827;
  --md-code-fg-color: #E6EDF3;
}

.md-typeset a {
  color: #8FB9FF;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  color: #E6EDF3;
}
